@use './variables' as *;
@use './mixins' as *;

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin:0;
    color: $BandSite-Black;
    @include mobile-body;
    @include tablet {
        @include tablet-body;
    }
}

h2,h3,p {
    margin: 0;
}

.header {
    background-color: $BandSite-Black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    @include tablet {
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 48px;
    }
    &__logo {
        @include tablet {
            margin-bottom: 32px;
            padding-top: 16px;
        }
    }
    &__nav {
        width: 100%;
        padding-top: 16px;
    }
    &__menu {
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        @include tablet {
            width: 40%;
            padding-left: 48px;
        }
        &-items {
            list-style-type: none;
            width: 50%;
            text-align: center;
            height: 100%;
            &--link {
                display: inline-block;
                text-decoration: none;
                color: $Silver;
                padding-bottom: 16px;
                width: 100%;
                @include tablet {
                    padding-bottom: 32px;
                    width:fit-content;
                }
                @include desktop {
                    &:hover {
                        color: $white;
                        border-bottom: solid 3px $white;
                    }
                }
            }
        }
    }
  
    @include desktop {
        padding-left: 80px;
    }
}

.footer {
    background-color: $BandSite-Black;
    color: $white;
    padding: 32px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    * {
        margin-bottom: 16px;
    }
    &__title {
        @include mobile-page-section-header
    }
    &__icon {
        width: 35%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        img {
            margin-right: 16px;
            height: 25px;
            width: 25px;
            @include tablet {
                margin-bottom: 0;
            }
        }
    }
    &__block1 {
        margin-bottom: 0;
        @include tablet {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 24px;
            h2 {
                width: 30%;
            }
        }
    }
    &__block2 {
        margin-bottom: 32px;
        @include tablet {
            display: flex;
            flex-direction: row;
            gap: 24px;
            section {
                width: 30%;
            }
            margin-bottom: 0;
        }
    }
    &__section {
        &--title {
            @include mobile-subheader;
        }
    }
    @include tablet {
        padding: 48px 48px 32px 48px;
        position:relative;
        &__logo {
            position:absolute;
            top: 48px;
            right: 48px;
            @include desktop {
                right: 80px;
            }
            margin-bottom: 0;
        }
    }
    @include desktop {
        padding: 48px 80px 32px 80px;
    }
}

.page-header {
    @include mobile-page-section-header;
    @include tablet {
        @include tablet-page-header;
    }
}

.section-header {
    @include mobile-page-section-header;
    font-family: "Avenir Next Demi";
    @include tablet {
        @include tablet-section-header;
        font-family: "Avenir Next Demi";
    }
}

.sub-header {
    @include mobile-subheader;
    @include tablet {
        @include tablet-subheader;
    }
}

.footer-copy {
    @include mobile-body;
    @include tablet {
        @include tablet-footer;
    }
}

.label-button {
    @include mobile-label;
    @include tablet {
        @include tablet-label;
    }
}

#current {
    font-family: "Avenir Next Demi";
    color: $white;
    border-bottom: solid 3px $white;
}


